# Ignorar arquivos temporários do sistema
*.log
*.tmp
.DS_Store

# Ignorar a pasta node_modules (caso esteja usando Node.js)
node_modules/

# Ignorar a pasta .vscode (caso esteja usando VSCode)
.vscode/
